.sample {
    width: 30%;  
    height: 500px;
    margin-left: 400px ;
    margin-top: 50px;
    padding: 5px;
    border: 1px solid black;
  }
  .sample001 {
    width: 80%;
    margin-top: 60px;
}

  .gs{
    width: 80%;
    margin-top: 10px;
    margin-left:20px;
  }
  
  .example001  {
width: 100%; height: 30px;
padding-left: 10px;
font-size: 15px;
  
  }

  .example002 {
    
width: 110%;
height: 55px;
border-radius: 10%;
padding-left: 20px;  font-size: 15px;
    
    background-color: rgb(240, 163, 22);
  }
  .example003 {
    
    padding-left: 10px;
    font-size: 15px;
    width: 110%;
    height: 40px;
  }
